.text-center {
    text-align: center;
}

.healthbar {
    width: 80%;
    height: 50px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

.democlass{
    color: purple;
}

.democlass2 {
    font-style: oblique;
}

